/*Common*/

h1, h2, h3, h4, p, td, li {
  font-family: 'Noto Sans', sans-serif;
}

h2 {
  font-size: 24px;
  border-bottom: solid 3px #775ba3;
  font-weight: 600;
  padding: 0 0 7px 45px;
  position: relative;
}

h2:before {
  content: '/';
  display: inline-block;
  padding: 10px 12px;
  position: absolute;
  left: 0px;
  background: #775ba3;
  color: #fff;
  top: -10px;
}

.bold {
  font-weight: bold;
}

table {
  width: 100%;
}

tr > td:first-child {
  padding-left: 17px;
}

.bold > td:last-child {
  text-align: right;
}

.padding {
  padding-bottom: 20px;
}

.padding td {
  padding-bottom: 20px;
}

.col-md-9 h2 {
  margin-bottom: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  position: relative;
}

/*Header*/

h1 {
  font-size: 65px;
}

h1 span {
  font-weight: bold;
}

header {
  margin-bottom: 30px;
}

header h1 {
  padding: 30px 0 0 15%;
}

.main {
  padding-top: 30px;
}

/*Video*/

.video {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 300px;
  position: relative;
}

.video a {
  position: relative;
  display: inline-block;
  height: 240px;
  width: 80%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
  vertical-align: middle;
  background: url(./images/video.png), #fff;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  float: right;
  margin-right: 7%;
}

.video a:after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAZCAYAAAA14t7uAAABO0lEQVRIS2P8//+/IAMDQxoQg+ijQLyNkZHxL5CmCDACDd4ANMEfyZSrQHY20PCDlJgMMvgH0AB2LIYsA4qVAC14To4FIIP/49H4GSjXAMSTgBb8IcUCQgbDzCI5eIg1GGYB0cFDqsEgC4gKHnIMJip4KDEYOXhKgZH7DDlyqWEwyLwvQNwExBOAFvwGCVDLYJhjrwEZYUDDr1LbYJAFr4FYmRYGgwy3p4XBoAJMjtoG/wIamg4M4wXUNHgP0NBcoKE3qJUqngANKgIauJpa6RiUXvuAuBlo6Ff0ko/coEDxNrbilFSDsXqbEoNBsd2Py9vkGrwTGtu3sRmASwwUFP9AZQYWBY+AYoXAiFlHioEwtSCDzwE5hkiaQd7uAeJWoKHfyDEUlo5tgAxQGhQC4i1AXAE0kCRvY7McAA4smHZafTRWAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 54% 50%;
}

.video a:before,
.video a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -34px 0 0 -34px;
  border-radius: 50%;
  display: block;
  width: 68px;
  height: 68px;
}

/*Main content*/

.expirience,
.science {
  margin-top: 70px;
}

.contacts li {
  padding: 0 0 10px 20px;
}

li.plus:before {
  content: '+';
  display: inline-block;
  position: absolute;
  left: 5px;
  font-weight: bold;
}

.languages .plus,
.skills-courses .plus {
  padding-left: 20px;
}

.languages .padding {
  padding-bottom: 10px;
}

.science p {
  margin-bottom: 5px;
}

.science div {
  padding-left: 17px;
}

.expirience li {
  padding-bottom: 10px;
}

.expirience li:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  position: absolute;
  left: -15px;
  top: 7px;
  background: #775ba3;
}

/*
@media (max-width: 768px) {

}
