{% load i18n %}
 <h2>{% trans 'ОБРАЗОВАНИЕ' %}</h2>
 <div>
    <table>
      <tbody>
        <tr class="bold">
          <td>{% trans 'ДНЕПРОПЕТРОВСКАЯ МЕДИЦИНСКАЯ АКАДЕМИЯ' %}</td>
          <td>2013 - 2016</td>
        </tr>
        <tr class="padding-td">
          <td>{% trans 'Специалист. Стоматологический. Стоматология' %}</td>
        </tr>
        <tr class="bold">
          <td>{% trans 'ДОНЕЦКИЙ НАЦИОНАЛЬНЫЙ МЕДИЦИНСКИЙ УНИВЕРСИТЕТ ИМ. ГОРЬКОГО' %}</td>
          <td>2011 - 2013</td>
        </tr>
        <tr class="padding-td">
          <td>{% trans 'Специалист. Стоматологический. Стоматология' %}</td>
        </tr>
      </tbody>
    </table>
  </div>
