{% load i18n %}
 <h3>{% trans 'ОБРАЗОВАНИЕ' %}</h3>
 <div>
    <div>
      <h4>{% trans 'ДНЕПРОПЕТРОВСКАЯ МЕДИЦИНСКАЯ АКАДЕМИЯ' %}</h4>
      <p>{% trans 'Специалитет. Стоматологический. Стоматология' %}</p>
    </div>
    <div>
      <p>2013 - 2016</p>
    </div>
  </div>
  <div>
    <div>
      <h4>{% trans 'ДОНЕЦКИЙ НАЦИОНАЛЬНЫЙ МЕДИЦИНСКИЙ УНИВЕРСИТЕТ ИМ. ГОРЬКОГО' %}</h4>
        <p>{% trans 'Специалист. Стоматологический. Стоматология' %}</p>
    </div>
    <div>
        <p>2011 - 2013</p>
    </div>
  </div>
