{% load i18n %}
<h2>{% trans 'ОПЫТ РАБОТЫ' %}</h2>
  <div>
    <table>
      <tbody>
        <tr class="bold">
          <td>{% trans 'ДОНЕЦКИЙ НАЦИОНАЛЬНЫЙ МЕД. УНИВЕРСИТЕТ' %}</td>
          <td>09/2012 - 05/2014</td>
        </tr>
        <tr class="padding-td">
          <td>
            <p>Ассистент стоматолога.</p>
            <ul>
              <li>{% trans 'Ведение медицинской документации' %}</li>
              <li>{% trans 'Проведение профессиональной гигиены полости рта' %}</li>
              <li>{% trans 'Ассистирование проведения стоматологических манипуляций' %}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>