{% extends "card/base.html" %}
{% block content %}
   <div class="row">
      <header class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-3">
          <h1>Валерия <span>Мартын</span></h1>
        </div>
        <div class="col-sm-12 col-md-9">
          <div class="video">
            <a href="https://www.youtube.com/watch?v=J3nojb-gFH4" class="desk run-video" data-video-id="J3nojb-gFH4"></a>
          </div>
        </div>
      </header>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9">
          {% include 'portfolio/education.html' %}
        </div>
        <div class="col-sm-12 col-md-9">
          {% include 'portfolio/experience.html' %}
        </div>
        <div class="col-sm-12 col-md-3">
          {% include 'portfolio/communications.html' %}
        <div class="col-sm-12 col-md-9">
          {% include 'portfolio/scientific work.html' %}
        </div>
        <div class="col-sm-12 col-md-3">
          {% include 'portfolio/languages.html' %}
        </div>
        <div class="col-sm-12 col-md-3">
          {% include 'portfolio/skills.html' %}
        </div>
        <div class="col-sm-12 col-md-3">
          {% include 'portfolio/courses.html' %}
        </div>
    </div>
{% endblock %}