{% extends "portfolio/base.html" %}
{% block content %}
        <div class="education col-sm-12 col-md-9">
          {% include 'portfolio/education.html' %}
        </div>
        <div class="contacts col-sm-12 col-md-3">
          {% include 'portfolio/contacts.html' %}
        </div>
        <div class="expirience col-sm-12 col-md-9">
          {% include 'portfolio/experience.html' %}
        </div>
        <div class="science col-sm-12 col-md-9">
          {% include 'portfolio/science.html' %}
        </div>
        <div class="languages col-sm-12 col-md-3">
          {% include 'portfolio/languages.html' %}
        </div>
        <div class="skills-courses col-sm-12 col-md-3">
          {% include 'portfolio/skills_courses.html' %}
        </div>
{% endblock %}