<h3>ЯЗЫКИ</h3>
          <ul>
            <li>
              <div>
                <p>Russian</p> 
                <p>Native</p>
              </div>
              <div>
                <p>||||||||||</p>
              </div>
            </li>
            <li>
              <div>
                <p>Ukrainian</p> 
                <p>Native</p>
              </div>
              <div>
                <p>||||||||||</p>
              </div>
            </li>
            <li>
              <div>
                <p>English</p>
              </div>
              <div>
                <p>|||||||...</p>
              </div>
            </li>
            <li>
              <div>
                <p>Чешский</p>
              </div>
              <div>
                <p>||||.......</p>
              </div>
            </li>
          </ul>