{% load i18n %}
<h2>{% trans 'НАУЧНАЯ РАБОТА' %}</h2>
<div>
  <p class="bold">{% trans 'СБОР СТАТИСТИКИ' %}</p>
  <p class="padding">{% blocktrans %}Занималась сбором и обработкой данных для докторской диссертации Елены Борисовны Булиенко.
  {% endblocktrans %}
  </p>
</div>
<div>
  <p class="bold">{% trans 'ПЕРЕВОД ИССЛЕДОВАНИЯ НА АНГЛИЙСКИЙ ЯЗЫК' %}</p>
  <p class="padding">{% blocktrans %}Перевод статьи-исследования на тему "Сочетанное применение апигеля и магнитотерапии при местном лечении генерализованного пародантита.{% endblocktrans %}</p>
</div>
<div>
  <p class="bold">{% trans 'ПЕРЕВОД ИССЛЕДОВАНИЯ НА АНГЛИЙСКИЙ ЯЗЫК' %}</p>
  <p class="padding">{% blocktrans %}Изменение биохимических показателей слюны при эксперементальном пародантите при применении апипрепарата.{% endblocktrans %}</p>
</div>