<h3>НАУЧНАЯ РАБОТА</h3>
  <div>
    <h4>СБОР СТАТИСТИКИ</h4>
    <p>Занималась сбором и обработкой данных для докторской диссертации Елены Борисовны Булиенко.</p>
  </div>
  <div>
    <h4>ПЕРЕВОД ИССЛЕДОВАНИЯ НА АНГЛИЙСКИЙ ЯЗЫК</h4>
    <p>Перевод статьи-исследования на тему "Сочетанное применение апигеля и магнитотерапии при местном лечении генерализованного пародантита.</p>
  </div>
  <div>
    <h4>ПЕРЕВОД ИССЛЕДОВАНИЯ НА АНГЛИЙСКИЙ ЯЗЫК</h4>
    <p>Изменение биохимических показателей слюны при эксперементальном пародантите при применении апипрепарата.</p>
  </div>