{% load i18n %}
<h2>{% trans 'НАУЧНАЯ РАБОТА' %}</h2>
  <div>
    <p>{% trans 'СБОР СТАТИСТИКИ' %}</p>
    <p>{% blocktrans %}Занималась сбором и обработкой данных для докторской диссертации Елены Борисовны Булиенко.
    {% endblocktrans %}
    </p>
  </div>
  <div>
    <p>{% trans 'ПЕРЕВОД ИССЛЕДОВАНИЯ НА АНГЛИЙСКИЙ ЯЗЫК' %}</p>
    <p>{% blocktrans %}Перевод статьи-исследования на тему "Сочетанное применение апигеля и магнитотерапии при местном лечении генерализованного пародантита.{% endblocktrans %}</p>
  </div>
  <div>
    <p>{% trans 'ПЕРЕВОД ИССЛЕДОВАНИЯ НА АНГЛИЙСКИЙ ЯЗЫК' %}</p>
    <p>{% blocktrans %}Изменение биохимических показателей слюны при эксперементальном пародантите при применении апипрепарата.{% endblocktrans %}</p>
  </div>