<h3>НАВЫКИ</h3>
          <ul>
            <li>
                <div>
                  <p>Документооборот</p>
                </div>
                <div>
                  <p>||||||||..</p>
                </div>
            </li>
            <li>
                <div>
                  <p>Постановка диагноза</p>
                </div>
                <div>
                  <p>|||||.....</p>
                </div>
            </li>
            <li>
              <div>
                <p>Проф. гигиена</p>
              </div>
              <div>
                <p>||||||||..</p>
              </div>
            </li>
            <li>
              <div>
                <p>Лечение кариеса</p>
              </div>
              <div>
                <p>||||......</p>
              </div>
            </li>
          </ul>