<h3>НАВЫКИ</h3>
<ul>
  <li>
    <div>
      <p>Документооборот</p>
    </div>
    <div>
      <p>||||||||..</p>
    </div>
  </li>
  <li>
    <div>
      <p>Постановка диагноза</p>
    </div>
    <div>
      <p>|||||.....</p>
    </div>
  </li>
  <li>
    <div>
      <p>Проф. гигиена</p>
    </div>
    <div>
      <p>||||||||..</p>
    </div>
  </li>
  <li>
    <div>
      <p>Лечение кариеса</p>
    </div>
    <div>
      <p>||||......</p>
    </div>
  </li>
</ul>
<div class="courses">
  <h4>КУРСЫ</h4>
  <div>
    <h3>АССОЦИАЦИЯ СТОМАТОЛОГОВ ДОНЕЦКОЙ ОБЛАСТИ</h3>
    <p>Пространственная модель размещения виниров.</p>
  </div>
  <div>
    <h3>DENTLINE</h3>
    <p>Несъемное протезирование(современные тенденции)</p>
  </div>
</div>