{% load i18n %}
<h2>{% trans 'НАВЫКИ' %}</h2>
<ul>
  <li class="bold plus">{% trans 'Документооборот' %}</li>
  <li class="bold plus">{% trans 'Постановка диагноза' %}</li>
  <li class="bold plus">{% trans 'Проф. гигиена' %}</li>
  <li class="bold plus">{% trans 'Лечение кариеса' %}</li>
</ul>
<div class="courses">
  <h2>{% trans 'КУРСЫ' %}</h2>
  <ul>
    <li class="bold">{% trans 'АССОЦИАЦИЯ СТОМАТОЛОГОВ ДОНЕЦКОЙ ОБЛАСТИ' %}</li>
    <li class="padding">{% trans 'Пространственная модель размещения виниров.' %}</li>
    <li class="bold">DENTLINE</li>
    <li class="padding">{% trans 'Несъемное протезирование (современные тенденции)' %}</li>
  </ul>
</div>